//  Colours
$backgroundColor: #fff;
$border:#000;
$bgCircle:#fbbf00;


//  Banner size
$width: 200px;
$height: 200px;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
